<!DOCTYPE html>
<html>
  <head>
    <title>Routine and Rhythm Tracker</title>
    <% if (auth === '') { %>
      <p>Not logged in</p>
    <% } else { %>
      <p>Logged in as <%= auth %></p>
    <% } %>
  </head>
  <body>

    